@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Geneva, Tahoma, Verdana, Ubuntu, sans-serif; */
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
}

/* Navegação */

.topo {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.navegacao {
    display: flex;
    margin: auto;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navegacao a {
    text-decoration: none;
    display: flex;
}

#themeButton {
    position: absolute;
    padding: 4px 8px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 8px;
    right: 30px;
    top: 9px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    justify-content: flex-end;
    z-index: 2;
}

#themeButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Container de apresentação */

.inicioImagem {
    overflow: hidden;
    min-height: 100vh;
}

.imagemVaporWave {
    background-image: url(../assets/carl-hodgson-vaporwaave-beder-project-2.jpg);
    background-position: 43% 12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #474747;
    background-blend-mode: hard-light;
}

.imagemPredioVermelho {
    background-image: url(../assets/sonder-quest-vaporwave-day.jpg);
    background-position: 43% 12%;
    background-repeat: no-repeat;
    background-size: cover;
}

#imagemVaporwave,
#imagemVaporwaveLight {
    display: flex;
    user-select: none;
    position: absolute;
    z-index: -99;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    filter: brightness(0.5);
    margin-bottom: -56.3%;
    filter: contrast(200%);
}

#imagemVaporwaveLight {
    filter: hue-rotate(10deg) brightness(1);
}


/* Sistema para tela grande em tema claro (coqueiro) e escuro (montanha) */

.spanMontanha {
    display: flex;
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin: auto;
    position: relative;
}

#montanha1,
#montanha2,
#coqueiro1,
#coqueiro2 {
    display: flex;
    user-select: none;
    position: relative;
    z-index: 1;
    top: 20vh;
    filter: contrast(125%);
    filter: brightness(0.8);
    filter: blur(5px);
}

#montanha1,
#montanha2 {
    height: 100%;
}

#montanha1 {
    position: absolute;
    right: 70vw;
    bottom: -50px;
}

#montanha2 {
    position: absolute;
    left: 72vw;
    bottom: -100px;
}

#coqueiro1,
#coqueiro2 {
    height: 1000px;
}

#coqueiro1 {
    left: -310px;
}

#coqueiro2 {
    transform: scaleX(-1);
    left: calc(-1134px + 100vw);
}


/* Dentro do container de apresentação */

.desfoco {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.212);

    z-index: 1;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 72%;
    height: 400px;
    margin: auto;
    margin-top: 20vh;
    padding: 10px;
}

.comeco {
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    padding: 0px 50px;
}

/* Animação para girar o contorno colorido */
@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.imagemMinhaContainer {
    max-width: 150px;
    max-height: 150px;
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

/* contorno colorido atrás da minha foto */
.circuloAnimado {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    padding: 10px;
    animation: rotate 4s linear infinite;
}

.circuloAnimado:before {
    /* https://alvarotrigo.com/shadow-gradients/ */
    content: "";
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 0.3s;
    border-radius: 100%
}

#imagemMinha {
    animation: none;
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
}

.imagemTituloNome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nomeTitulo {
    display: flex;
    flex-direction: column;
}

.apresentacao h1 {
    font-size: 36px;
    margin-bottom: 40px;
    font-family: Verdana, Ubuntu, sans-serif;
}

.apresentacao h4,
#descricao {
    margin: 10px 0;
    font-family: Verdana, Ubuntu, sans-serif;
}

.apresentacao h4 {
    font-size: 24px;
}

#descricao {
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    width: 100%;
}

.apresentacao a {
    text-decoration: none;
}

.linksExternos {
    display: flex;
    justify-content: center;
    bottom: 200px;
    padding: 30px 0;
}

.linksExternos a {
    padding: 7px 16px;
    width: 150px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
}

#github,
#downloadCurriculo {
    filter: invert();
}

.linksExternos img {
    height: 30px;
    margin-right: 10px;
}


/* Container de Habilidades */

.habilidade {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tituloSubtituloHabCerPro {
    justify-content: center;
}

.tituloSubtituloHabCerPro h1,
.tituloSubtituloHabCerPro p {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    text-align: center;
}


.telaHabilidades {
    padding-bottom: 50px;
    min-height: 100vh;
}

.campoHabilidade {
    display: flex;
    max-width: 95%;
    margin: auto;
}

#imagemFundoHabilidades {
    height: 110vh;
    position: fixed;
    width: 110vw;
    left: -20px;
    z-index: -1000;
}

.iconesHabilidades {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    gap: 10px;
    width: 50%;
}

.iconesHabilidades button {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    cursor: pointer;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}

.iconesHabilidades button:hover {
    filter: saturate(1.7);
}

.iconesHabilidades button img {
    display: flex;
    margin: auto;
    width: 60%;
    max-height: 80%;
    clear: both;
}

.descricaoHabilidade {
    width: 50%;
}

.infoHabilidade {
    border-radius: 30px;
    border: 1px rgb(146, 146, 146) solid;
    margin: auto;
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#tituloHabilidade {
    margin: 10px;
    font-size: 28px;
    font-weight: 800;
}

.infoHabilidade hr {
    width: 50%;
    margin-bottom: 10px;
}

#descricaoHabilidadeEscrito {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 300;
}


/* Container de certificados */

.certificados {
    padding-top: 40px;
    padding-bottom: 80px;
    min-height: 100vh;
}

.conteinerCertificadoUnico {
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    padding: 10px;
    text-align: center;
    max-width: 400px;
}

td span {
    font-size: 12px;
}

.imagensCertificadosHabilidade {
    padding-left: 10px;
}

td a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.imagensCertificadosHabilidade img {
    width: 20px;
    padding: 5px 0;
    max-height: 40px;
    filter: drop-shadow(0px 0px 5px rgba(255, 217, 0, 0.137));
}

.imagensCertificadosHabilidade .apache {
    max-height: 32px;
}


/* Container de Projetos */

.projetos {
    width: 100vw;
    padding-bottom: 50px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campoProjetos {
    min-height: 500px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-left: -15px;
    justify-content: center;
}

.campoProjetos .cadaProjeto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 30px auto;
    height: auto;
    border-radius: 40px;
}

.campoProjetos .cadaProjeto img {
    width: 60%;
}

.campoProjetos .cadaProjeto p {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    font-family: sans-serif;
}

.cadaProjeto a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadaProjeto h2 {
    font-size: 24px;
    font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 0 40px 0;
}

.riscoDosProjetos {
    border: 0;
    height: 2px;
    width: 100%;
}


/* Container de contato */
.campoContato {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.copiarEmail {
    cursor: pointer;
    padding: 10px;
    color: black;
    background-color: lightgray;
    width: 300px;
    text-align: center;
    border-radius: 17px;
    margin-left: 20px;

    display: flex;
    /* Para centralizar o parágrafo */
    text-align: center;
    /* Para centralizar horizontalmente o icone e o texto */
    justify-content: center;
    /* Para centralizar verticalmente o texto com o ícone */
    align-items: center;
}

.copiarEmail span img {
    height: 20px;
    padding-left: 10px;
}

.copiarEmail:hover {
    background-color: rgb(200, 199, 255);
}

.whatsapp {
    background-color: rgb(104, 255, 74);
    border-radius: 17px;
    width: 350px;
    /* Para centralizar o parágrafo */
    text-align: center;
    /* Para centralizar horizontalmente o icone e o texto */
    justify-content: center;
    /* Para centralizar verticalmente o texto com o ícone */
    align-items: center;

    display: flex;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 0 auto 20px;
}

.whatsapp:hover {
    background-color: rgb(87, 209, 62);
}

.whatsapp span img {
    height: 30px;
    padding-right: 10px;
}