body {
    background-color: #1c1e27;
    color: white;
}

.navegacao a{
    color: gainsboro;
}

.navegacao a:hover{
    color: rgb(102, 102, 102);
}

.apresentacao a{
    color: white;
}

.apresentacao a:hover{
    color: rgb(102, 102, 102);
}