body {
    /* background-color: #1c1e27; */
    color: white;
}

.topo {
    background-color: rgba(10, 10, 34, 0.658);
    box-shadow: 0 8px 32px 0 rgba(29, 37, 150, 0.521);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    /* border: 1px solid rgba(255, 255, 255, 0.212); */
}

#themeButton {
    /* background-color: #9fe4ffbb; */
    background-color: rgba(55, 5, 136, 0.377);
    border: 2px solid gray;
    box-shadow: 2px 2px 4px 0 rgba(102, 29, 150, 0.733);
}

#themeButton img {
    width: 25px;
    height: 25px;
    filter: invert();
    transition: all 0.4s ease-out 0s;
}

#themeButton:hover {
    background-color: rgba(21, 3, 182, 0.507);
}

#themeButton:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

#imagemVaporwave {
    display: flex;
}

#imagemVaporwaveLight {
    display: none;
}

#montanha1,
#montanha2 {
    display: flex;
}

#coqueiro1,
#coqueiro2 {
    display: none;
}

.navegacao a {
    color: rgb(255, 255, 255);
}

.navegacao a:hover {
    color: rgb(102, 102, 102);
}

.apresentacao a {
    color: white;
}

.apresentacao a:hover {
    color: rgb(102, 102, 102);
}

.desfoco {
    box-shadow: 0 0px 32px 10px rgba(29, 37, 150, 0.521);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.212);
}

.linksExternos a {
    color: rgb(255, 255, 255);
    background-color: rgba(17, 80, 15, 0.466);
    box-shadow: 0 0px 32px 0 rgba(102, 29, 150, 0.521);
    border: 1px solid rgba(9, 158, 121, 0.274);
}

.linksExternos a:hover {
    background-color: rgba(9, 158, 121, 0.541);
    border: 1px solid rgba(9, 158, 121, 0.541);
}

/* .iconesHabilidades button{
    border: 5px rgb(146, 146, 146) solid;
} */

#imagemFundoHabilidades {
    /* background: linear-gradient(135deg, rgb(255, 0, 255) 20%, rgb(29, 139, 190), cyan); */
    background: linear-gradient(315deg, rgb(255, 0, 255) 20%, rgb(29, 139, 190), cyan);
}

#imagemFundoHabilidades {
    filter: brightness(0.4);
}

.iconesHabilidades button {
    border: 2px rgb(146, 146, 146) solid;
    background-color: rgba(4, 0, 255, 0.027);
    box-shadow: 0 0px 8px 0 rgba(119, 27, 180, 0.521);
}

.iconesHabilidades button:hover {
    background-color: rgba(0, 0, 0, 0.363);
    box-shadow: 0 0px 32px 0 rgba(27, 120, 173, 0.37);
}

.iconesHabilidades button img {
    filter: drop-shadow(0px 0px 5px rgba(27, 120, 173, 0.37));
}

.iconesHabilidades button h2 {
    color: white;
}

.infoHabilidade {
    box-shadow: 10px 10px 16px 0 rgba(29, 106, 150, 0.301);
    backdrop-filter: blur(13.5px);
    filter: brightness(1.2) contrast(1.25) saturate(1.2);
    -webkit-backdrop-filter: blur(13.5px) contrast(1.25) saturate(1.2);
}

.conteinerCertificadoUnico,
tr,
th,
td {
    border: 2px solid rgb(255, 255, 255);
}

td span,
td a {
    color: gold;
}

td a:hover {
    color: #9fe4ffbb;
}

td #restApiImagem,
#restApi img {
    filter: invert();
}

td span {
    font-size: 12px;
    color: gold;
}

.projetos {
    background-color: rgba(0, 0, 0, 0.137);
}

.campoProjetos .cadaProjeto {
    background-color: rgba(0, 0, 0, 0.048);
    box-shadow: 10px 10px 40px -5px rgba(21, 123, 182, 0.5);
    border: 1px solid rgb(100, 100, 100);
}

.campoProjetos .cadaProjeto:hover img {
    filter: drop-shadow(0px 0px 25px rgba(38, 176, 255, 0.534));
}

.cadaProjeto a {
    color: white;
}


.cadaProjeto h2 {
    text-shadow: 0px 0px 20px rgba(0, 255, 234, 0.733);
    text-decoration: underline 3px;
}

.riscoDosProjetos {
    background-image: linear-gradient(to right, transparent, #9fe4ffbb, transparent);
    filter: drop-shadow(0px 0px 100px rgba(98, 156, 189, 0.658));
    box-shadow: 0px 0px 15px rgba(98, 156, 189, 0.658);
}