body {
    background-color: white;
}

.navegacao a{
    color: black;
}

.navegacao a:hover{
    color: rgb(131, 131, 131);
}

.apresentacao a:hover{
    color: rgb(131, 131, 131);
}

.apresentacao a{
    color: black;
}

.linksExternos a{
    background-color: rgb(196, 196, 196);
    color: white;
}

.linksExternos a:hover{
    color: black;
}

.iconesHabilidades button h2{
    color: black;
}