/* Arquivo css criado ordenando da maior tela para a menos (mobile está lá embaixo) */

/* Para telas ultrawide 4k */
@media screen and (min-width: 2499px) {
    .campoProjetos {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .iconesHabilidades {
        grid-template-columns: repeat(8, 11%);
        gap: 10px;
        width: 70%;
    }
}

/* Para telas ultrawide pouco menores que 4k */
@media screen and (min-width: 2000px) and (max-width: 2499px) {
    .campoProjetos {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .iconesHabilidades {
        grid-template-columns: repeat(7, 12%);
        gap: 10px;
        width: 70%;
    }
}


/* Para telas ultrawide normais */
@media screen and (min-width: 1600px) and (max-width: 1999px) {
    .campoProjetos {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .iconesHabilidades {
        grid-template-columns: repeat(6, 15%);
        gap: 10px;
        width: 50%;
    }
}

/* Tela maiores que média */
@media screen and (min-width: 1230px) {
    #montanha2 {
        bottom: -100px;
    }
}

/* Telas menores que a média */
@media screen and (max-width: 1230px) {

    .spanMontanha {
        display: none;
    }

    .desfoco {
        width: 90vw;
    }
}

/* Evitando problema com botões se sobrepondo nessas resoluções */
@media screen and (max-width: 1210px) and (min-width: 1024px) {
    .iconesHabilidades button {
        width: 90px;
        height: 90px;
    }
}

/* Telas médias, como 3x4 ou tablets */
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .desfoco {
        width: 90vw;
    }

    #imagemMinha {
        max-width: 120px;
        border-radius: 50%;
    }

    .circuloAnimado {
        width: 130px;
        height: 130px;
    }

    .circuloAnimado:before {
        /* https://alvarotrigo.com/shadow-gradients/ */
        content: "";
        width: 100%;
        height: 100%;
    }

    .apresentacao h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .apresentacao h4 {
        font-size: 20px;
        text-align: end;
    }

    #descricao {
        font-size: 16px;
        font-weight: 300;
    }

    .iconesHabilidades {
        grid-template-columns: repeat(4, 23%);
        gap: 10px;
        width: 50%;
    }

    .iconesHabilidades button {
        width: 90px;
        height: 90px;
    }

    .infoHabilidade {
        width: 90%;
    }

    .listaDeCertificados {
        padding: 10px;
    }

    .campoProjetos {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .campoProjetos .cadaProjeto {
        width: 90vw;
    }

    .campoProjetos .cadaProjeto img {
        width: 70%;
    }
}

/* Definindo para que o botão de hamburger desapareça quando a tela for maior que a de um celular */
@media screen and (min-width: 768px) {

    #sidebar,
    #hamburgerButton {
        display: none;
    }

    .navegacao {
        display: flex;
    }
}

/* Telas de celulares */
@media screen and (max-width: 767px) {

    #sidebar,
    #hamburgerButton {
        display: flex;
    }

    #hamburgerButton {
        background-color: transparent;
        border: none;
        padding-left: 10px;
    }

    #hamburgerButton img {
        width: 32px;
    }

    .navegacao {
        display: none;
    }

    #themeButton {
        right: 20px;
    }

    #fechadorDaSidebar {
        display: none;
        background-color: transparent;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 2;
    }

    .sidebar {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -280px;
        width: 250px;
        height: 100%;
        padding-top: 65px;
        z-index: 1000;
        transition: left 0.3s ease-in-out;
    }

    .sidebar a {
        display: block;
        padding: 20px;
        text-decoration: none;
        font-size: 18px;
    }

    .inicioImagem {
        min-height: 100vh;
    }

    .desfoco {
        top: -70px;
        left: 0;
        right: 0;
        width: 97%;
        height: auto;
        margin-top: 20vh;
        padding: 10px;
        position: relative;
    }

    .apresentacao {
        width: 100%;
        padding: 0px 10px;
    }

    .imagemTituloNome {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .imagemMinhaContainer {
        padding: 10px 0;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circuloAnimado {
        padding: 76px;
        width: 70%;
        height: auto;
    }

    .circuloAnimado:before {
        /* https://alvarotrigo.com/shadow-gradients/ */
        content: "";
        width: 100%;
        height: 100%;
    }

    .apresentacao h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .apresentacao h4,
    #descricao {
        margin: 0px auto 40px auto;
        font-family: Verdana, Ubuntu, sans-serif;
    }

    .apresentacao h4 {
        font-size: 20px;
    }

    #descricao {
        font-size: 18px;
    }

    .linksExternos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .linksExternos a {
        width: 175px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .tituloSubtituloHabilidade p {
        text-align: center;
    }

    .campoHabilidade {
        display: flex;
        flex-direction: column;
        max-width: 95%;
    }

    .iconesHabilidades {
        display: grid;
        grid-template-columns: repeat(4, calc(25vw - 10px));

        gap: 5px;
        width: 100%;
        padding-bottom: 20px;
    }

    .iconesHabilidades button {
        width: 90px;
        height: 90px;
        margin: auto;
    }

    .descricaoHabilidade {
        width: 100%;
    }

    .infoHabilidade {
        padding-bottom: 20px;
    }

    .imagensCertificadosHabilidade img {
        width: 30px;
        padding: 7px 2px;
    }

    .listaDeCertificados {
        overflow: auto;
        padding: 20px 10px;
    }

    .campoProjetos {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .campoProjetos .cadaProjeto {
        width: 90vw;
    }

    .cadaProjeto h2 {
        padding: 30px 10px 40px 10px;
        text-align: center;
    }

    .campoProjetos .cadaProjeto img {
        width: 90%;
    }
}



/* Para telas Mobiles Small */
@media screen and (max-width: 374px) {
    .tituloSubtituloHabCerPro h1 {
        font-size: 28px;
    }

    .tituloSubtituloHabCerPro p,
    .tituloSubtituloHabCerPro h1 {
        padding: 0 5px;
    }

    .iconesHabilidades {
        grid-template-columns: repeat(3, 31%);
        gap: 10px;
        width: 100%;
    }
}